<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Make A Wish</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <a class="logout" href="/logout">Logout</a> 
        </nav>
    </header>
    <div class="formContainer">
        <form class="form-style-4" action="wishes/addWish" method="POST">
            <fieldset>
                <legend>Make A Wish</legend>
                <label >Wish Name:
                    <input  name="wish"></input>
                </label>
                <label >Price: $
                    <input name="price"></input>
                </label>
                <label >Link to Item:
                    <input  name="url"></input>
                </label>
                <button  type="submit">Make Wish</button>
            </fieldset>
           
        </form>

    </div>
    

    <ul class="wishContainer"> 
        <% wishes.forEach(e =>{ %>
            <li class="wishCard wishItem" data-id="<%=e._id%>">
                <h2 class="<%=e.purchased === true ? 'granted' : 'not'%>"><%=e.wish%></h2>
                <span class="wishDetails">Cost: $<%=e.price.toFixed(2)%></span>
                <a class="wishDetails"href='<%=e.url%>'>Link To Item</a>
                <span class="del">Delete</span>
            </li>
        <%})%>
    </ul>   
    



    <script src="js/main.js"></script>
</body>
</html>